/* reset */
body {
    font-size: 14px;
    font-family: sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}

/* 自定义字体 */
@font-face {
    font-family: "wjs";
    src:
    url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff) format('woff');
}
.wjs_icon {
    font-family: "wjs";
}
.wjs_icon_phone::after {
    content: "\e908";
}
.wjs_icon_tel::after {
    content: "\e909";
}
.wjs_icon_logo::after {
    content: "\e920";
}
.wjs_icon_name::after {
  content: "\e93e";
}
.wjs_icon_dollar::after {
  content: "\e903";
}
.wjs_icon_clock::after {
  content: "\e906";
}
.wjs_icon_video::after {
  content: "\e905";
}
.wjs_icon_news01::after{
  content: "\e90e";
}
.wjs_icon_news02::after{
  content: "\e90f";
}
.wjs_icon_news03::after{
  content: "\e910";
}
.wjs_icon_news04::after{
  content: "\e911";
}
.wjs_icon_patrner01::after{
  content: "\e946";
}
.wjs_icon_patrner02::after{
  content: "\e92f";
}
.wjs_icon_patrner03::after{
  content: "\e92e";
}
.wjs_icon_patrner04::after{
  content: "\e92a";
}
.wjs_icon_patrner01::after{
  content: "\e929";
}
.wjs_icon_patrner05::after{
  content: "\e931";
}
.wjs_icon_patrner01::after{
  content: "\e92c";
}
.wjs_icon_patrner06::after{
  content: "\e92b";
}
.wjs_icon_patrner07::after{
  content: "\e92d";
}
.wjs_icon_patrner08::after{
  content: "\e911";
}
.wjs_icon_patrner09::after{
  content: "\e911";
}



/* index */
.wjs_topBar {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.wjs_topBar >.container {}
.wjs_topBar >.container >.row{
}
.wjs_topBar >.container >.row>div{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.wjs_topBar >a{
    font-size: 12px;
}
.wjs_topBar >.container >.row>div a:hover{
    text-decoration: none;
    color: #333;
}
.wjs_topBar >.container >.row>div:last-child {
    border-right: none;

}
.wjs_app {
    display: block;
    position: relative;
}
.wjs_app img {
    display: none;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -60px;
}
.wjs_app:hover img{
    display: block;
}
/* 登陆,注册按钮样式 */
.wjs_topBar .btn-register {
    border: none;
    background-color: #e92322;
    padding: 3px 12px;
    color: #fff;
    font-size: 12px;
}
.wjs_topBar .btn-login {
    font-size: 12px;
    color: #666;
}


/* navBar部分 */
.wjs_nav {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    z-index: 1000000;
    border-radius: 0;
    top: 0;
    left: 0;
  }
  .wjs_nav .wjs_icon_logo {
    color: #e92322;
    font-size: 50px;
    vertical-align: middle;
}
.wjs_nav .wjs_icon_name {
    color: #333;
    font-size: 36px;
    line-height: 50px;
    vertical-align: middle;
}

  .wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
  }
  .wjs_nav .navbar-brand:hover,
  .wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .wjs_nav .navbar-text {
    color: #777;
  }
  .wjs_nav .navbar-nav > li > a {
    color: #333;
    height: 80px;
    line-height: 50px;

  }
  .wjs_nav .navbar-nav > li > a:hover,
  .wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;

  }
  .wjs_nav .navbar-nav > .active > a,
  .wjs_nav .navbar-nav > .active > a:hover,
  .wjs_nav .navbar-nav > .active > a:focus {
    color: #333;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
  }
  .wjs_nav .navbar-nav > .disabled > a,
  .wjs_nav .navbar-nav > .disabled > a:hover,
  .wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
  }
  .wjs_nav .navbar-toggle:hover,
  .wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
  }
  .wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .wjs_nav .navbar-collapse,
  .wjs_nav .navbar-form {
    border-color: #e7e7e7;
  }
  .wjs_nav .navbar-nav > .open > a,
  .wjs_nav .navbar-nav > .open > a:hover,
  .wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  @media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333;
      background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .wjs_nav .navbar-link {
    color: #777;
  }
  .wjs_nav .navbar-link:hover {
    color: #333;
  }
  .wjs_nav .btn-link {
    color: #777;
  }
  .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link:focus {
    color: #333;
  }
  .wjs_nav .btn-link[disabled]:hover,
  fieldset[disabled] .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link[disabled]:focus,
  fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
  }

  /* 轮播图样式 */
  .wjs_banner {
      width: 100%;
  }
  .wjs_banner .pc_imgBox {
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wjs_banner .m_imgBox {
  display: block;
  width: 100%;
  min-width: 320px;
}
.wjs_banner .m_imgBox img {
  width: 100%;
  display: block;
}


/* 信息模块 */
.wjs_info {
  width: 100%;  
}
.wjs_info >.container {
  width: 900px;
}
/* 小屏下container宽度变为750px */
@media screen and (min-width:768px) and (max-width:992px) {
  .wjs_info >.container {
    width: 750px;
  }
  
}
.wjs_info >.container>div {
  margin: 20px 0;
}
.wjs_info >.container>div>a {
  display: block;
  text-decoration: none;
}
.wjs_info >.container>div>a:hover {
  color: #e92322;
}
.wjs_info >.container>div>a .wjs_icon_dollar {
  font-size: 30px;
}


/* 预约模块 */
.wjs_book {
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.wjs_book>.container {
  width: 900px;
}
@media screen and (min-width:768px) and (max-width:992px) {
  .wjs_book>.container {
    width: 750px;
  }
}
@media screen and (max-width:768px) {
  .wjs_book>.container {
    width: 100%;
  }
}
.wjs_book .book {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_book .video:hover {
  color: #e92322;
 text-decoration: none;
}
.wjs_icon_clock,.wjs_icon_video {
  font-size: 20px;
}

/* 产品模块 */
.wjs_product {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}
.wjs_product .nav-tabs-parent {
  width: 100%;
  overflow: hidden;
}
/* 复写nav_tabs样式 */
.wjs_product .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
  float: left;
  margin-bottom: 0px;
  margin-left: 15px;
}
.wjs_product .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
}
.wjs_product .nav-tabs > li > a:hover {
  color: #555;
  background-color: #f5f5f5;

}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
  cursor: default;
  color: #555;
  background-color: #f5f5f5;
  border: none;
  border-bottom: 3px solid #e92322;
}
.wjs_product .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_product .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_product .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_product .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_product .nav-tabs.nav-justified > .active > a,
.wjs_product .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_product .nav-tabs.nav-justified > .active > a,
  .wjs_product .nav-tabs.nav-justified > .active > a:hover,
  .wjs_product .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

/* 产品内容 */
.wjs_product .product_box {
  display: block;
  height: 150px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #d8d8d8;
  margin-top: 20px;
  position: relative;
}
.wjs_product .product_box:hover {
  text-decoration: none;
  color: #666;
}
.wjs_product .product_box {
  color: #666;
}
.wjs_product .product_box.active {
  background-color: #e92322;
  color: #fff;
}
/* 产品内容中每个盒子 */
.wjs_product .product_box .product_right {
  float: right;
  height: 150px;
  width: 80px;
  text-align: center;
  color: #e92322;
  border-left: 1px dashed #ccc;
  position: relative;
}
.wjs_product .product_box.active .product_right {
  color: #fff;
}

.wjs_product .product_box .product_right p:first-of-type {
  margin-top: 25px;
  margin-bottom: 10px;
}
.wjs_product .product_box .product_right p:first-of-type b{
  font-size: 46px;  

}
.wjs_product .product_box .product_right p:first-of-type sub{
  bottom: 0;
  font-size: 12px;
}
.wjs_product .product_box .product_left {
  overflow: hidden;
}

/*产品内容中每个盒子左侧*/
.product_left h3 {
  font-size: 16px;
  margin-top: 10px;
}
.product_left div {
  font-size: 12px;
}

/* 产品虚线和凹槽样式 */
/* 伪类元素实现 */
.wjs_product .product_box.active::after {
  content: "\e915";
  position: absolute;
  font-family: "wjs";
  top: -7px;
  left: 0;
  font-size: 36px;
}
.wjs_product .product_box .product_right::before,
.wjs_product .product_box .product_right::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 6px;
  position: absolute;
  background-color: #f5f5f5;
}
.wjs_product .product_box .product_right::before {
  left: -6px;
  top: -6px;
  box-shadow: 0 -2px 2px #d8d8d8 inset;
}
.wjs_product .product_box .product_right::after {
  left: -6px;
  bottom: -6px;
  box-shadow: 0 2px 2px #d8d8d8 inset;
}
/* 产品右侧提示 */
.wjs_product .product_box .product_right .tip {
  position: absolute;
  top: 10px;
  left: 20px;
}
.wjs_product .product_box .product_right .tip span {
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  line-height: 14px;
  text-align: center;
}
.wjs_product .product_box .product_right .tip .red {
  
  color: #e92322;
  border-color: #e92322;
}
.wjs_product .product_box .product_right .tip .green {
  color: green;
  border-color: green;
}

/* 新闻模块 */
.wjs_news {
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.wjs_news .container>div {
  text-align: center;
}
.wjs_news .container>div>.wjs_news_title {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  position: relative;
}
.wjs_news .container>div>.wjs_news_title::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  right: -6px;
  bottom: -3px;
  border-radius: 50%;
  border: 1px solid #ccc;

}
/* 新闻导航样式复写 */
.wjs_news .wjs_news_line {
  width: 1px;
  height: 100%;
  border: 1px dashed #ccc;
  position: absolute;
  top: 0;
  left: 45px;
}
.wjs_news .nav-tabs {
  border-bottom: none;
}
.wjs_news .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.wjs_news .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border:none;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: #ccc;
  padding: 0;
  line-height: 60px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin-bottom: 60px;
}
/* 新闻导航响应式 */
@media screen and (min-width:768px) and (max-width:992px) {
  .wjs_news .nav-tabs > li > a {
    margin: 10px 50px;
  }
}
@media screen and (max-width:768px) {
  .wjs_news .nav-tabs > li {
    width: 25%;
    text-align: center;

  }
  .wjs_news .nav-tabs > li > a {
    display: inline-block;
    margin-bottom: 5px;
  }
}
.wjs_news .nav-tabs > li:last-of-type > a {
  margin-bottom: 0;
}
.wjs_news .nav-tabs > li > a:hover {
  border: none;
  color: #fff;
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active > a:hover,
.wjs_news .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #e92322;
  border: none;
  border-bottom-color: transparent;
}
.wjs_news .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_news .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_news .nav-tabs.nav-justified > .active > a,
.wjs_news .nav-tabs.nav-justified > .active > a:hover,
.wjs_news .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_news .nav-tabs.nav-justified > .active > a,
  .wjs_news .nav-tabs.nav-justified > .active > a:hover,
  .wjs_news .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/* 新闻内容 */
.wjs_news .wjs_news_content {
  list-style: none;
}
.wjs_news .wjs_news_content li a {
  display: block;
  color: #333;
  margin: 30px 0;

}
.wjs_news .wjs_news_content li a:hover {
  text-decoration: none;
  color: #333;
}
/* 合作伙伴 */
.wjs_partner ul{
list-style: none;
text-align: center;
}
.wjs_partner ul li {
  display: inline-block;
  font-size: 60px;
}
.wjs_partner ul li a {
  display: inline-block;
  margin: 10px 20px;
}