/* reset */
body {
    font-size: 14px;
    font-family: sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}

/* 自定义字体 */
@font-face {
    font-family: "wjs";
    src:
    url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff) format('woff');
}
.wjs_icon {
    font-family: "wjs";
}
.wjs_icon_phone::after {
    content: "\e908";
}
.wjs_icon_tel::after {
    content: "\e909";
}
.wjs_icon_logo::after {
    content: "\e920";
}
.wjs_icon_name::after {
  content: "\e93e";
}
.wjs_icon_dollar::after {
  content: "\e903";
}
.wjs_icon_clock::after {
  content: "\e906";
}
.wjs_icon_video::after {
  content: "\e905";
}


/* index */
.wjs_topBar {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.wjs_topBar >.container {}
.wjs_topBar >.container >.row{
}
.wjs_topBar >.container >.row>div{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.wjs_topBar >a{
    font-size: 12px;
}
.wjs_topBar >.container >.row>div a:hover{
    text-decoration: none;
    color: #333;
}
.wjs_topBar >.container >.row>div:last-child {
    border-right: none;

}
.wjs_app {
    display: block;
    position: relative;
}
.wjs_app img {
    display: none;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -60px;
}
.wjs_app:hover img{
    display: block;
}
/* 登陆,注册按钮样式 */
.wjs_topBar .btn-register {
    border: none;
    background-color: #e92322;
    padding: 3px 12px;
    color: #fff;
    font-size: 12px;
}
.wjs_topBar .btn-login {
    font-size: 12px;
    color: #666;
}


/* navBar部分 */
.wjs_nav {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
  }
  .wjs_nav .wjs_icon_logo {
    color: #e92322;
    font-size: 50px;
    vertical-align: middle;
}
.wjs_nav .wjs_icon_name {
    color: #333;
    font-size: 36px;
    line-height: 50px;
    vertical-align: middle;
}

  .wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
  }
  .wjs_nav .navbar-brand:hover,
  .wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .wjs_nav .navbar-text {
    color: #777;
  }
  .wjs_nav .navbar-nav > li > a {
    color: #333;
    height: 80px;
    line-height: 50px;

  }
  .wjs_nav .navbar-nav > li > a:hover,
  .wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;

  }
  .wjs_nav .navbar-nav > .active > a,
  .wjs_nav .navbar-nav > .active > a:hover,
  .wjs_nav .navbar-nav > .active > a:focus {
    color: #333;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
  }
  .wjs_nav .navbar-nav > .disabled > a,
  .wjs_nav .navbar-nav > .disabled > a:hover,
  .wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
  }
  .wjs_nav .navbar-toggle:hover,
  .wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
  }
  .wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .wjs_nav .navbar-collapse,
  .wjs_nav .navbar-form {
    border-color: #e7e7e7;
  }
  .wjs_nav .navbar-nav > .open > a,
  .wjs_nav .navbar-nav > .open > a:hover,
  .wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  @media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333;
      background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .wjs_nav .navbar-link {
    color: #777;
  }
  .wjs_nav .navbar-link:hover {
    color: #333;
  }
  .wjs_nav .btn-link {
    color: #777;
  }
  .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link:focus {
    color: #333;
  }
  .wjs_nav .btn-link[disabled]:hover,
  fieldset[disabled] .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link[disabled]:focus,
  fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
  }

  /* 轮播图样式 */
  .wjs_banner {
      width: 100%;
  }
  .wjs_banner .pc_imgBox {
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wjs_banner .m_imgBox {
  display: block;
  width: 100%;
  min-width: 320px;
}
.wjs_banner .m_imgBox img {
  width: 100%;
  display: block;
}


/* 信息模块 */
.wjs_info {
  width: 100%;  
}
.wjs_info >.container {
  width: 900px;
}
/* 小屏下container宽度变为750px */
@media screen and (min-width:768px) and (max-width:992px) {
  .wjs_info >.container {
    width: 750px;
  }
  
}
.wjs_info >.container>div {
  margin: 20px 0;
}
.wjs_info >.container>div>a {
  display: block;
  text-decoration: none;
}
.wjs_info >.container>div>a:hover {
  color: #e92322;
}
.wjs_info >.container>div>a .wjs_icon_dollar {
  font-size: 30px;
}


/* 预约模块 */
.wjs_book {
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.wjs_book>.container {
  width: 900px;
}
@media screen and (min-width:768px) and (max-width:992px) {
  .wjs_book>.container {
    width: 750px;
  }
}
@media screen and (max-width:768px) {
  .wjs_book>.container {
    width: 100%;
  }
}
.wjs_book .book {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_book .video:hover {
  color: #e92322;
 text-decoration: none;
}
.wjs_icon_clock,.wjs_icon_video {
  font-size: 20px;
}

/* 产品模块 */
.wjs_product {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}
.wjs_product .nav-tabs-parent {
  width: 100%;
  overflow: hidden;
}
/* 复写nav_tabs样式 */
.wjs_product .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
  float: left;
  margin-bottom: 0px;
  margin-left: 15px;
}
.wjs_product .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
}
.wjs_product .nav-tabs > li > a:hover {
  color: #555;
  background-color: #f5f5f5;

}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
  cursor: default;
  color: #555;
  background-color: #f5f5f5;
  border: none;
  border-bottom: 3px solid #e92322;
}
.wjs_product .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_product .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_product .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_product .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_product .nav-tabs.nav-justified > .active > a,
.wjs_product .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_product .nav-tabs.nav-justified > .active > a,
  .wjs_product .nav-tabs.nav-justified > .active > a:hover,
  .wjs_product .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

/* 产品内容 */
.wjs_product .product_box {
  display: block;
  height: 200px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #d8d8d8;
  margin-top: 20px;
}
.wjs_product .product_box.active {
  background-color: #e92322;
}