/* reset */
body {
    font-size: 14px;
    font-family: sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}

/* 自定义字体 */
@font-face {
    font-family: "wjs";
    src:
    url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff) format('woff');
}
.wjs_icon {
    font-family: "wjs";
}
.wjs_icon_phone::after {
    content: "\e908";
}
.wjs_icon_tel::after {
    content: "\e909";
}



/* index */
.wjs_topBar {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.wjs_topBar >.container {}
.wjs_topBar >.container >.row{
}
.wjs_topBar >.container >.row>div{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.wjs_topBar >a{
    font-size: 12px;
}
.wjs_topBar >.container >.row>div a:hover{
    text-decoration: none;
    color: #333;
}
.wjs_topBar >.container >.row>div:last-child {
    border-right: none;

}
.wjs_app {
    display: block;
    position: relative;
}
.wjs_app img {
    display: none;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -60px;
}
.wjs_app:hover img{
    display: block;
}
/* 登陆,注册按钮样式 */
.wjs_topBar .btn-register {
    border: none;
    background-color: #e92322;
    padding: 3px 12px;
    color: #fff;
    font-size: 12px;
}
.wjs_topBar .btn-login {
    font-size: 12px;
    color: #666;
}